/* FOOTER */
@include theme() {
    &_footer {
        @include fullWidthContainer;

        margin-top: 40px;

        &_nav {
            @include fullWidthContainer;
            background-color: $color-indigo;

            &_content {                
                @include maxWidthContainer($breakpoint-mobile, 50px);
                @include flex(center, flex-start);
                gap: 50px;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    max-width: $container-max-width-default;
                    column-gap: 20px;
                }

                @include setResponsiveDesign($breakpoint-desktop-hd1) {
                    column-gap: 50px;
                }

                &_item {
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex4(20px);
                    }

                    @include setResponsiveDesign($breakpoint-desktop-hd1) {
                        @include flex4(50px);
                    }

                    h2 {
                        font-family: $font-montserrat;
                        font-weight: 600;
                        color: $color-white;

                        &:not(.headline_title) {
                            margin-bottom: 20px;
                            text-align: center;

                            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                text-align: left;
                            }
                        }
                    }

                    ul {
                        li {
                            a, i {
                                color: $color-white;
                            }

                            &:not(.social_networks_item) {
                                padding: 6px 0;
                                font-weight: 400;
                                text-align: center;

                                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                    text-align: left;
                                }

                                i {
                                    margin-right: 6px;
                                }
                            }
                        }
                    }
                }

                .headline {
                    &_logo {
                        display: block;
                        width: 210px;

                        margin: {
                            top: 0;
                            right: auto;
                            bottom: 20px;
                            left: auto;
                        }
                    }

                    &_title {
                        font-weight: 500;
                        font-size: $font-size-default;
                        text-align: center;
                    }
                }

                .social {
                    &_networks {
                        @include flex;
                        column-gap: 10px;

                        @include setResponsiveDesign($breakpoint-tablet-landscape) {
                            justify-content: flex-start;
                        }

                        &_item {
                            i {
                                width: 40px;
                                height: 40px;
                                font-size: calc($font-size-big);

                                background-color: $color-magenta;

                                @include rounded;
                                @include flex;
                                @include transition;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &_rights {
            @include fullWidthContainer;
            background-color: $color-purple;

            &_content {
                @include maxWidthContainer($container-max-width-default, 10px);
                @include flex(space-between);
                row-gap: 10px;

                color: $color-white;
                font-size: $font-size-small;
                font-weight: 400;

                p {
                    text-align: center;
                    @include flex1;

                    @include setResponsiveDesign($breakpoint-mobile-landscape) {
                        @include flexBasis(unset);
                    }
                }
            }
        }
    }
}