/* HEADER */
@include theme() {
    &_header {
        @include fullWidthContainer;
        background-color: $color-indigo;

        &_content {
            @include maxWidthContainer($container-max-width-default, 10px);
            @include flex(space-between, center, nowrap);
            @include relative;

            &_logo {
                &_title {
                    display: none;
                }

                &_image {
                    img {
                        width: 210px;
                    }
                }
            }

            &_nav {
                &_icon {
                    color: $color-white;
                    font-size: calc($font-size-big * 1.2);
                    cursor: pointer;
                    display: block;

                    width: 34px;
                    height: 34px;
                    @include flex;
                    @include borderRadius(5px);
                    @include transition;

                    &:hover {
                        background-color: $color-white-alpha;
                    }

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        display: none;
                    }
                }

                &_menu {
                    @include absolute(100%, unset);
                    right: 0;

                    @include fullWidthContainer;
                    @include maxWidthContainer($breakpoint-mobile, 0, 0);
                    background-color: $color-white;

                    display: none;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        @include flex;
                        display: flex !important;
                        column-gap: 20px;
                        position: static;
                        background: none;
                        width: auto;
                        max-width: unset;
                    }

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        column-gap: 30px;
                    }

                    &_item {
                        a {
                            color: $color-onyx;
                            padding: 10px 20px;
                            display: block;

                            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                padding: 0;
                                color: $color-white;
                                font-size: $font-size-small;
                            }

                            @include setResponsiveDesign($breakpoint-desktop-sd) {
                                font-size: $font-size-default;
                            }

                            &:hover {
                                background-color: $color-indigo;
                                color: $color-white;

                                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                                    background: none;
                                    color: $color-lavender-pink;
                                }
                            }
                        }
                    }
                }
            }

            &_budget {
                display: none;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    display: block;
                }
            }
        }
    }
}