/* BOOT CONFIG */
* {
    margin: 0;
    padding: 0;
    @include setBrowserCores(box-sizing, border-box);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-montserrat;
    font-weight: 500;
    color: $color-gray;

    h1, h2, h3, h4, h5, h6 {
        color: $color-indigo;
        font-family: $font-brother-1816;
        font-weight: 800;
    }

    label {
        color: $color-onyx;
    }

    input[type=text], input[type=password], input[type=email], textarea {
        @include borderRadius($radius-big);

        border: 1px solid $color-silver;
        font-family: $font-montserrat;
        font-size: $font-size-small;
        color: $color-gray;
        padding: 10px 16px;
    }

    button {
        font-family: $font-montserrat;
    }

    a {
        text-decoration: none;
        color: $color-magenta;
        @include transition;
    }

    ul {
        li {
            list-style: none;
        }
    }

    img {
        width:100%;
    }

    @include theme() {
        &_section_title {
            font-size: calc($font-size-big * 2);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                font-size: calc($font-size-big * 2.6);
            }

            .subtitle {
                display: block;
                font-family: $font-montserrat;
                font-weight: 600;
                font-size: $font-size-big;
            }
        }

        &_btn {
            background-color: $color-magenta;
            color: $color-white;
            font-size: $font-size-default;

            padding: 10px 22px;
            display: inline-block;
            border: none;
            cursor: pointer;
            
            @include borderRadius($radius-big);
            @include transition;

            &:hover {
                transform: scale(1.1);
            }

            i {
                vertical-align: middle;
                margin-left: 6px;
            }
        }

        &_card {
            text-align: center;

                padding: 30px 20px;
                background-color: $color-white;
                box-shadow: 0px 0px 5px 0px $color-indigo-shadow;
                border-bottom: 3px solid $color-magenta;

                @include borderRadius;

                &_image {
                    margin-bottom: 10px;

                    img {
                        height: 60px;
                        pointer-events: none;
                    }
                }

                &_title {
                    margin-bottom: 10px;

                    h1 {
                        font-family: $font-montserrat;
                        font-size: $font-size-default;
                        font-weight: 600;
                    }
                }
        }
    }
}