// THEME
@mixin theme() {
    .mm {
        @content;
    }
}

// OFFLINE FONTS
@mixin setFonts($presets) {

    $weight: ();
    $family: ();
    $files: ();
    $path: ();
    $format: ();

    @each $attr, $values in $presets {

        @if $attr == "weights" {
            @for $w from 1 through length($list: $values) {
                $weight: append($list: $weight, $val: nth($list: $values, $n: $w), $separator: comma);
            }
        }

        @if $attr == "family" {
            @for $f from 1 through length($list: $weight) {
                $family: append($list: $family, $val: $values, $separator: comma);
            }
        }

        @if $attr == "files" {
            @for $fl from 1 through length($list: $weight) {
                $files: append($list: $files, $val: nth($list: $values, $n: $fl), $separator: comma);
            }
        }

        @if $attr == "path" {
            @for $p from 1 through length($list: $weight) {
                $path: append($list: $path, $val: "#{$font-path}/#{$values}/#{nth($list: $files, $n: $p)}", $separator: comma);
            }
        }

        @if $attr == "format" {
            @for $fm from 1 through length($list: $weight) {
                $format: append($list: $format, $val: $values, $separator: comma);
            }
        }
    }

    @for $font from 1 through length($list: $weight) {
        @font-face {
            font-family: nth($list: $family, $n: $font);
            src: url(nth($list: $path, $n: $font)) format(nth($list: $format, $n: $font));
            font-weight: nth($list: $weight, $n: $font);
        }
    }
}

// CONTAINER
@mixin fullWidthContainer($fillScreen: false) {
    width: 100%;

    @if $fillScreen == true {
        height: 100%;
    }
}

@mixin maxWidthContainer($maxWidth: $container-max-width-default, $paddingY: $container-padding-y, $paddingX: $container-padding-x) {
    max-width: $maxWidth;
    padding: $paddingY $paddingX;
    margin: 0 auto;
}

// BROWSER CORES ATTRIBUTES
@mixin setBrowserCores($attr, $value, $cores: $browser-cores-default) {
    #{$attr}: #{$value};

    @each $core in $cores {
        -#{$core}-#{$attr}: #{$value};
    }
}

// BORDER RADIUS
@mixin borderRadius($radius: $radius-default) {
    @include setBrowserCores(border-radius, $radius);
}

@mixin rounded() {
    @include borderRadius(50%);
}

// FLEXBOX
@mixin flex($justifyContent: center, $alignitems: center, $flexWrap: wrap) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignitems;
    flex-wrap: $flexWrap;
}

@mixin flexBasis($basis, $gap: 0) {
    @if $gap !=0 {
        flex-basis: calc($basis - $gap);
    }

    @else {
        flex-basis: $basis;
    }
}

@mixin flex1($gap: 0) {
    @include flexBasis(100%, $gap);
}

@mixin flex2($gap: 0) {
    @include flexBasis(calc(100% / 2), $gap);
}

@mixin flex3($gap: 0) {
    @include flexBasis(calc(100% / 3), $gap);
}

@mixin flex4($gap: 0) {
    @include flexBasis(calc(100% / 4), $gap);
}

// POSITION
// Relative
@mixin relative() {
    position: relative;
}

// Absolute
@mixin absolute($top: 0, $left: 0) {
    position: absolute;
    top: $top;
    left: $left;
}

// Fixed
@mixin fixed($top: 0, $left: 0) {
    position: fixed;
    top: $top;
    left: $left;
}

// TRANSITIONS AND ANIMATIONS
@mixin transition($property: all, $duration: $transition-duration-default, $timingFunction: ease, $delay: 0s) {
    transition: $property $duration $timingFunction $delay;
}

// RESPONSIVE DESIGN
@mixin setResponsiveDesign($screenWidth, $isMaxWidth: false) {    
    $width: calc($screenWidth - 1px);

    @if $isMaxWidth == true {
        @media screen and (max-width: $screenWidth) {
            @content;
        }
    }

    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}