// COLORS

// Primary
$color-indigo: #530685;
$color-magenta: #FF1090;
$color-lavender-pink: #E3A2CC;
$color-purple: #73038B;

// Neutral
$color-onyx: #3C3F42;
$color-gray: #7A7A7A;
$color-silver: #B5B5B5;
$color-white: #FFF;

// FONTS
$font-path: "../../fonts";

$font-montserrat: 'Montserrat', sans-serif;
$font-brother-1816: "Brother 1816";

$font-size-default: 1rem;
$font-size-small: 0.8rem;
$font-size-big: 1.2rem;

// BORDER RADIUS
$radius-default: 10px;
$radius-big: 30px;

// BROWSER CORES
$browser-cores-default: ("moz", "webkit");