/* ABOUT SECTION */
@include theme() {
    &_about {
        @include fullWidthContainer;
        margin: 60px 0;

        &_content {
            @include maxWidthContainer;
            @include flex;
            gap: 40px;

            &_info {
                @include flex1;

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flexBasis(52%, 40px);
                }

                &_title {
                    margin-bottom: 20px;
                }

                &_text {
                    p {
                        margin: 12px 0;
                        line-height: 1.4em;
                    }
                }
            }

            &_image {
                @include flex1;
                @include maxWidthContainer($breakpoint-mobile-landscape, 0, 0);

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include flexBasis(48%, 40px);
                    max-width: auto;
                }
            }
        }
    }
}