/* PORTFOLIO SECTION */
@include theme() {
    &_portfolio {
        @include fullWidthContainer;
        margin: 60px 0;

        &_content {
            @include maxWidthContainer;

            &_title {
                text-align: center;

                h1 {
                    margin-bottom: 20px;
                    font-size: calc($font-size-big * 2);
                    // font-size: calc($font-size-big * 2.6);

                    font-weight: 900;
                    text-transform: uppercase;
                    line-height: 1.2em;
                }

                p {
                    margin-bottom: 20px;
                    font-size: $font-size-big;
                    color: $color-onyx;
                }
            }

            &_nav {
                @include maxWidthContainer($breakpoint-mobile, 0, 0);
                margin-bottom: 20px;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include maxWidthContainer($container-max-width-default, 0, 0);
                    margin-bottom: 20px;
                }

                &_btns {
                    @include flex;
                    flex-direction: column;
                    gap: 10px;

                    @include setResponsiveDesign($breakpoint-tablet-landscape) {
                        flex-direction: row;
                    }

                    &_btn {
                        width: 100%;

                        @include setResponsiveDesign($breakpoint-tablet-landscape) {
                            width: auto;
                        }

                        button {
                            background-color: $color-anti-flash-white;
                            color: $color-onyx;
                            padding: 15px 35px;
                            font-weight: 500;
                            width: 100%;

                            &:hover, &.active {
                                transform: none;
                                background-color: $color-magenta;
                                color: $color-white;
                            }
                        }
                    }
                }
            }

            &_gallery {
                @include flex(flex-start);
                gap: 20px;
                
                @include maxWidthContainer($breakpoint-mobile, 0, 0);

                @include setResponsiveDesign($breakpoint-tablet) {
                    @include maxWidthContainer($breakpoint-tablet, 0, 0);
                }

                @include setResponsiveDesign($breakpoint-desktop-sd) {
                    @include maxWidthContainer($container-max-width-default, 0, 0);
                }

                &_item {
                    @include flex1;
                    padding: 20px;
                    height: 300px;

                    box-shadow: 0px 8px 20px 0px $color-black-shadow;
                    @include borderRadius;

                    cursor: pointer;

                    @include setResponsiveDesign($breakpoint-tablet) {
                        @include flex2(20px);
                    }

                    @include setResponsiveDesign($breakpoint-desktop-sd) {
                        @include flex3(20px);
                    }

                    &:hover &_image {
                        background-position: bottom center;
                    }

                    &_image {
                        height: 100%;
                        @include backgroundImage("", no-repeat, cover, top center);
                        @include transition(background-position, 3s);

                        @include flex(center, flex-end);

                        a {
                            text-transform: uppercase;
                            margin-bottom: 10px;
                            font-size: $font-size-small;

                            &:hover {
                                transform: none;
                            }
                        }
                    }
                }
            }
        }
    }
}