/* SERVICES */
@include theme() {
    &_services {
        @include fullWidthContainer;
        margin-top: -30px;

        @include setResponsiveDesign($breakpoint-tablet-landscape) {
            margin-top: -80px;
        }

        &_content {
            @include maxWidthContainer($breakpoint-mobile);
            @include flex;
            gap: 10px;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include maxWidthContainer;
            }

            &_service {
                @include flex1;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include flex4(10px);
                }
            }
        }
    }
}