/* SERVICES */
@include theme() {
    &_services {
        @include fullWidthContainer;
        margin-top: -30px;

        @include setResponsiveDesign($breakpoint-tablet-landscape) {
            margin-top: -80px;
        }

        &_content {
            @include maxWidthContainer($breakpoint-mobile);
            @include flex;
            gap: 10px;

            @include setResponsiveDesign($breakpoint-tablet-landscape) {
                @include maxWidthContainer;
            }

            &_service {
                @include flex1;
                text-align: center;

                padding: 30px 20px;
                background-color: $color-white;
                box-shadow: 0px 0px 5px 0px $color-indigo-shadow;
                border-bottom: 3px solid $color-magenta;

                @include borderRadius;

                @include setResponsiveDesign($breakpoint-tablet-landscape) {
                    @include flex4(10px);
                }

                &_image {
                    margin-bottom: 10px;

                    img {
                        height: 60px;
                        pointer-events: none;
                    }
                }

                &_title {
                    margin-bottom: 10px;

                    h1 {
                        font-family: $font-montserrat;
                        font-size: $font-size-default;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}