@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Brother 1816";
  src: url("../../fonts/Brother1816/Brother1816-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Brother 1816";
  src: url("../../fonts/Brother1816/Brother1816-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Brother 1816";
  src: url("../../fonts/Brother1816/Brother1816-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Brother 1816";
  src: url("../../fonts/Brother1816/Brother1816-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Brother 1816";
  src: url("../../fonts/Brother1816/Brother1816-Black.ttf") format("truetype");
  font-weight: 900;
}
/* BOOT CONFIG */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #7A7A7A;
  scroll-behavior: smooth;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  color: #530685;
  font-family: "Brother 1816";
  font-weight: 800;
}
body label {
  color: #3C3F42;
}
body input[type=text], body input[type=password], body input[type=email], body textarea {
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border: 1px solid #B5B5B5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #7A7A7A;
  padding: 10px 16px;
}
body button {
  font-family: "Montserrat", sans-serif;
}
body a {
  text-decoration: none;
  color: #FF1090;
  transition: all 0.3s ease 0s;
}
body ul li {
  list-style: none;
}
body img {
  width: 100%;
}
body .mm_btn {
  background-color: #FF1090;
  color: #FFF;
  padding: 10px 22px;
  display: inline-block;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  transition: all 0.3s ease 0s;
}
body .mm_btn i {
  vertical-align: middle;
  margin-left: 6px;
}

/* HEADER */
.mm_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #530685;
}
.mm_header_content {
  max-width: 1140px;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
}
.mm_header_content_logo_title {
  display: none;
}
.mm_header_content_logo_image img {
  width: 210px;
}
.mm_header_content_nav_icon {
  color: #FFF;
  font-size: 1.44rem;
  cursor: pointer;
  display: block;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.mm_header_content_nav_icon:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
@media screen and (min-width: 899px) {
  .mm_header_content_nav_icon {
    display: none;
  }
}
.mm_header_content_nav_menu {
  position: absolute;
  top: 100%;
  left: unset;
  right: 0;
  width: 100%;
  max-width: 480px;
  padding: 0 0;
  margin: 0 auto;
  background-color: #FFF;
  display: none;
}
@media screen and (min-width: 899px) {
  .mm_header_content_nav_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex !important;
    column-gap: 20px;
    position: static;
    background: none;
    width: auto;
    max-width: unset;
  }
}
@media screen and (min-width: 1023px) {
  .mm_header_content_nav_menu {
    column-gap: 30px;
  }
}
.mm_header_content_nav_menu_item a {
  color: #3C3F42;
  padding: 10px 20px;
  display: block;
}
@media screen and (min-width: 899px) {
  .mm_header_content_nav_menu_item a {
    padding: 0;
    color: #FFF;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1023px) {
  .mm_header_content_nav_menu_item a {
    font-size: 1rem;
  }
}
.mm_header_content_nav_menu_item a:hover {
  background-color: #530685;
  color: #FFF;
}
@media screen and (min-width: 899px) {
  .mm_header_content_nav_menu_item a:hover {
    background: none;
    color: #E3A2CC;
  }
}
.mm_header_content_budget {
  display: none;
}
@media screen and (min-width: 899px) {
  .mm_header_content_budget {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */